
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.feedback-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: darkgreen;
    background-color: lightcyan;
    margin: 0;
}

.feedback-content {
    background: rgba(255, 255, 255, .3);
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border-radius: 15px;
    padding: 20px;
    width: 85%;
    max-width: 800px;
    text-align: center;
    font-size: 20px;
}

.heading {
    margin: 5px;
    font-size: 30px;
}

.ratings-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rating {
    cursor: pointer;
    margin: auto;
    padding: 1rem 11%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.rating1:hover {
    background: red;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    color: aliceblue;
    transition: 300ms;
}
.rating2:hover {
    background: gray;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    color: aliceblue;
    transition: 300ms;
}
.rating3:hover {
    background: lightgreen;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    color: aliceblue;
    transition: 300ms;
}

#btn:active {
    transform: scale(0.1);
}

.rating img {
    width: 3rem;
}